---
layout: base
title: INFO | DCBL Wedding
bridesmaids:
  -
    name: Kerry
    portraitURL: /assets/images/portrait-kerry.jpg
  -
    name: Catrina
    portraitURL: /assets/images/portrait-catrina.jpg
  -
    name: Kirsty
    portraitURL: /assets/images/portrait-kirsty.jpg
  -
    name: Holly
    portraitURL: /assets/images/portrait-holly.jpg
groomsmen:
  -
    name: Thunder
    portraitURL: /assets/images/portrait-thunder.jpg
  -
    name: Shaheer
    portraitURL: /assets/images/portrait-shaheer.jpg
  -
    name: Michael
    portraitURL: /assets/images/portrait-michael.jpg
  -
    name: Yaseen
    portraitURL: /assets/images/portrait-yaseen.jpg
---
<div class="container matt-antique text-center">
  <h1>Parking</h1>
  <div class="row my-5">
    <div class="col text-center">
      Parking
    </div>
  </div>
  <div class="divider mb-5 mx-auto"></div>
  <h1>Accomodation</h1>
  <h3>Onsite</h3>
  <div class="row my-5">
    <div class="col text-center">
      Onsite
    </div>
  </div>
  <h3>Nearby</h3>
  <div class="row my-5 ">
    <div class="col text-center">
      Nearby
    </div>
  </div>
  <div class="divider mb-5 mx-auto"></div>
  <h1>The Team</h1>
  <div class="lead">If you need anything on the day,</div>
  <div class="lead mb-5">these are the people to look out for!</div>
  <h3>Bridesmaids</h3>
  <div class="row mt-3 mb-5">
    {% for bridesmaid in page.bridesmaids %}
    <div class="col-8 mx-auto col-sm-6 col-md-3 text-center mb-3">
      {% include portrait.html src=bridesmaid.portraitURL name=bridesmaid.name %}
    </div>
    {% endfor %}
  </div>
  <h3>Groomsmen</h3>
  <div class="row mt-3 mb-5">
    {% for groomsman in page.groomsmen %}
    <div class="col-8 mx-auto col-sm-6 col-md-3 text-center mb-3">
      {% include portrait.html src=groomsman.portraitURL name=groomsman.name %}
    </div>
    {% endfor %}
  </div>
</div>
