---
layout: base
title: INFO | DCBL Wedding
bridesmaids:
  -
    name: Kerry
    portraitURL: /assets/images/portrait-kerry.jpg
  -
    name: Catrina
    portraitURL: /assets/images/portrait-catrina.jpg
  -
    name: Kirsty
    portraitURL: /assets/images/portrait-kirsty.jpg
  -
    name: Holly
    portraitURL: /assets/images/portrait-holly.jpg
groomsmen:
  -
    name: Thunder
    portraitURL: /assets/images/portrait-thunder.jpg
  -
    name: Shaheer
    portraitURL: /assets/images/portrait-shaheer.jpg
  -
    name: Michael
    portraitURL: /assets/images/portrait-michael.jpg
  -
    name: Yaseen
    portraitURL: /assets/images/portrait-yaseen.jpg
---
<div class="container">
  <div class="row">
    <div class="col text-center">
      {% include covid-alert.html %}
    </div>
  </div>
</div>
<div class="container matt-antique text-center">
  <h2>THE TEAM</h2>
  <div>If you need anything on the day,</div>
  <div class="mb-5">these are the people to look out for!</div>
  <h4>Bridesmaids</h4>
  <div class="row mt-3 mb-5">
    {% for bridesmaid in page.bridesmaids %}
    <div class="col-8 mx-auto col-sm-6 col-md-3 mb-3">
      {% include portrait.html src=bridesmaid.portraitURL name=bridesmaid.name %}
    </div>
    {% endfor %}
  </div>
  <h4>Groomsmen</h4>
  <div class="row mt-3 mb-5">
    {% for groomsman in page.groomsmen %}
    <div class="col-8 mx-auto col-sm-6 col-md-3 mb-3">
      {% include portrait.html src=groomsman.portraitURL name=groomsman.name %}
    </div>
    {% endfor %}
  </div>
  <div class="divider mb-5 mx-auto"></div>
  <h2>TRAVEL INFORMATION</h2>
  <div class="row my-3 mb-5">
    <div class="col">
      <p>
        Parking is available on site.<br>
        Closest train station is Guildford.<br>
      </p>
      <p>
        Please note that a taxi MUST be booked before the event or no later then 8pm on the day.<br>
        A taxi called at midnight may take over an hour to arrive.<br>
        The approximate cost of a taxi to/from Gate Street Barn to Guildford station is £20 before 11pm and £30 after 11pm.<br>
        UBER is not available from the barn!
      </p>
      <p><a href="{{ "/venue" | relative_url }}">Click here for more venue information</a></p>
    </div>
  </div>
</div>
