<div class="alert alert-info collapsed pointer" role="alert" data-toggle="collapse" data-target="#alert27012021"
     aria-expanded="false" aria-controls="alert27012021">
  <div class="mb-0">
    <span style="text-decoration:line-through"><s>27 JANUARY 2021</s></span>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
         style="width: 2rem;height: 2rem;">
      <path class="chev-down" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
      <path class="chev-up" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"/>
    </svg>
  </div>
  <div id="alert27012021" class="collapse mt-2">
    <p>
      We want to inform you that we have made the decision to postpone our wedding to <strong>Wednesday 25 August
      2021</strong>. Given the current circumstances, we don't feel as though we are able to have the wedding we want,
      whilst doing it safely and with everyone we want there with us.
    </p>
    <p>
      If you <strong>have already submitted your RSVP</strong> via our website, email, or whatsapp, please note that we
      will still take these into account but that they will apply for 25 August 2021, so if there is going to be a
      change in your attendance due to the change of date, please kindly resubmit your RSVP.
    </p>
    <p>
      If you <strong>have not yet submitted your RSVP</strong>, please kindly submit your RSVP to indicate your
      attendance and wedding breakfast choice by no later than 1 July 2021 (these can be resubmitted at any time prior
      to 1 July 2021).
    </p>
  </div>
</div>