<div class="alert alert-info" role="alert">
  <h4>22 AUGUST 2020 update</h4>
  <p>
    We want to inform you that we have made the decision to postpone our wedding to <strong>Sunday 7 March 2021</strong>.
    Given the current circumstances, we don't feel as though we are able to have the wedding we want, whilst doing it
    safely and with everyone we want there with us.
  </p>
  <p>
    If you <strong>have already submitted your RSVP</strong> via our website, email, or whatsapp, please note that we
    will still take these into account but that they will apply for 7 March 2021, so if there is going to be a change in
    your attendance due to the change of date, please kindly resubmit your RSVP.
  </p>
  <p>
    If you <strong>have not yet submitted your RSVP</strong>, please kindly submit your RSVP to indicate your attendance
    and wedding
    breakfast choice by no later than 1 February 2021 (these can be resubmitted at any time prior to 1 February 2021).
  </p>
</div>
