<nav class="navbar navbar-expand-sm navbar-light justify-content-center matt-antique py-3">
  <ul class="navbar-nav my-2 d-none d-md-flex flex-even justify-content-end">
    {% for item in site.data.nav.left-items %}
    <li class="nav-item">
      <a class="nav-link" href="{{ item.url | relative_url }}">{{ item.title }}</a>
    </li>
    {% endfor %}
  </ul>
  <div class="text-center navy-text">
    <h1 class="mt-4">D | B</h1>
    <h6 class="mt-5">7 &nbsp;M A R C H &nbsp;2021</h6>
  </div>
  <ul class="navbar-nav my-2 d-none d-md-flex flex-even">
    {% for item in site.data.nav.right-items %}
    <li class="nav-item">
      <a class="nav-link" href="{{ item.url | relative_url }}">{{ item.title }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
<nav class="navbar navbar-expand-md navbar-light matt-antique py-3">
  <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarToggler"
          aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    Menu <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarToggler" class="collapse navbar-collapse">
    <ul class="navbar-nav mx-auto text-center my-2 d-md-none">
      {% for item in site.data.nav.left-items %}
      <li class="nav-item">
        <a class="nav-link" href="{{ item.url | relative_url }}">{{ item.title }}</a>
      </li>
      {% endfor %}
      {% for item in site.data.nav.right-items %}
      <li class="nav-item">
        <a class="nav-link" href="{{ item.url | relative_url }}">{{ item.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
