<h4>
  {{ include.name }}
</h4>
<fieldset class="form-group ml-5">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="person-{{ include.index }}-attendance"
           id="person-{{ include.index }}-attendance-val-1" value="">
    <label class="form-check-label" for="person-{{ include.index }}-attendance-val-1">
      Joyfully accepts
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="person-{{ include.index }}-attendance"
           id="person-{{ include.index }}-attendance-val-2" value="">
    <label class="form-check-label" for="person-{{ include.index }}-attendance-val-2">
      Regretfully declines
    </label>
  </div>
</fieldset>
<fieldset class="form-group ml-5">
  <legend class="col-form-label pt-0">Food choice</legend>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="person-{{ include.index }}-food"
           id="person-{{ include.index }}-food-val-1" value="">
    <label class="form-check-label" for="person-{{ include.index }}-food-val-1">
      Lamb
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="person-{{ include.index }}-food"
           id="person-{{ include.index }}-food-val-2" value="">
    <label class="form-check-label" for="person-{{ include.index }}-food-val-2">Fish</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="person-{{ include.index }}-food"
           id="person-{{ include.index }}-food-val-3" value="">
    <label class="form-check-label" for="person-{{ include.index }}-food-val-3">
      Vegetarian
    </label>
  </div>
</fieldset>
<fieldset class="form-group ml-5 mb-5">
  <label for="exampleFormControlTextarea1">Dietary requirements</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
</fieldset>
