@font-face {
  font-family: MattAntique;
  src: url(/assets/fonts/MattAntique.ttf);
}

.matt-antique {
  font-family: MattAntique;
}

@font-face {
  font-family: Tangerine-Regular;
  src: url(/assets/fonts/Tangerine-Regular.ttf);
}

.tangerine-regular {
  font-family: Tangerine-Regular;
}
