@font-face {
  font-family: MattAntique;
  src: url(/assets/fonts/MattAntique.ttf);
}

.matt-antique {
  font-family: MattAntique;
}

.flex-even {
  flex: 1;
}

.navy-text {
  color: #000080;
}

.brush-bg {
  background-image: url(/assets/images/brush-bg.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
}
