@font-face {
  font-family: MattAntique;
  src: url(/assets/fonts/MattAntique.ttf);
}

html {
  font-size: 17px;
}

.matt-antique {
  font-family: MattAntique;
}

.flex-even {
  flex: 1;
}

.navy-text {
  color: #000080;
}

.brush-bg {
  background-image: url(/assets/images/brush-bg.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
}

.was-validated .radio-border .custom-control-input:valid ~ .custom-control-label,
.was-validated .radio-border .custom-control-input:invalid ~ .custom-control-label {
  color: #212529;
}

.radio-border {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: 8px;
  margin-bottom: 4px;

  &.is-valid {
    border: 1px solid #28a745;
  }

  &.is-invalid {
    border: 1px solid #dc3545;
  }
}

.portrait {
  img {
    border-radius: 50%;
  }
}

.divider {
  border-bottom: 2px solid #000080;
  width: 50%;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
    column-count: 1 !important;
  }
}
@media (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 2 !important;
    -moz-column-count: 2 !important;
    column-count: 2 !important;
  }
}
@media (min-width: 992px) {
  .card-columns {
    -webkit-column-count: 3 !important;
    -moz-column-count: 3 !important;
    column-count: 3 !important;
  }
}

.pointer {
  cursor: pointer;
}

div:not(.collapsed) > div > svg > .chev-down {
  display: none;
}
.collapsed .chev-up {
  display: none;
}